body {
	background: #C0FFEE;;
	margin: 0;
	padding:0;    
}

#stemmomat {
	color :#fff;
	background: #000;
	margin:10px auto;
	padding:5px;
	-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;	
}

