body {
	background: #C0FFEE;
	margin: 0;
	padding:0;    
}

#stemmomat {
    font-family: 'Open Sans', sans-serif;
	color :#fff;
	background: #000;
	margin:0 auto;
	padding:5px 5px 10px 15px;
	-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;	
}

#result {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    font-weight: bold;
    font-size: 300%;
}
